body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
h1{
    size: 65px;
    font-weight: bold;
}
h3{
    margin-bottom:20px;
    font-weight: bold;
}
/* header style */
header{
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;

}
.header-section{ 
    text-align: right;
    width: 100%;
    height: 809px;
    padding-top: 216px;
    padding-left: 600px;
    justify-content: left; 
    width: 512px; 
}
.btn-header{
    background-color:#F15B22;
    border: #F15B22;
    border-radius: 5px;
    padding: 20px 25px;
    color: white;
}
/* main section style */
.about-past{
    display: flex;
    align-items: center;
    /* width: 1072px;
    height: 723.3px; */
    margin: 10px 150px;
    gap: 40px;
}

/* my plan section */
.my-plan{
    text-align: center;
    margin: 120px 130px;
}
#my-photo{
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
}
.plans{
    display: flex;
    justify-content: center;
    gap: 20px;
}
/* mindset section style */
.mindset{
    background-repeat: no-repeat;
    margin: 30px 230px;
    padding: 64px;
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%),url(/images/watch.png);
    border-radius: 5px;
}
.call-to-action-btn{
    color:#F15B22;
    background-color: white;
    padding: 20px 36px;
    border-radius: 5px;
    border: #F15B22;
}
/* get-in touch section */
.get-in-touch{
    text-align: center;
    padding: 130px 300px;
}

/* style of footer section */
.footer-section{
    color: white;
    background-color: #151414;
    display: flex;
    padding: 130px 203px;
    gap: 230px;
    text-align: left;
}
#input-style{
    margin-bottom: 10px;
    width: 325px;
    height: 64px;
    background-color: #151414;
    border: white solid 2px;
    border-radius: 5px;
}
.icon{
    border-radius: 30px;
}